<div class="body-1">
  <div class="body-logo-1">
    <img src="../../../assets/anh2/Logo%20Cty%20(Chuan).png" alt="Error" />
  </div>
  <div class="body-title-1">
    <div class="body-title-1-1">WEBSITE QUẢN LÝ DOANH NGHIỆP</div>
    <div class="body-title-1-2">
      Công ty TNHH MTV khai thác công trình thủy lợi Đa Độ
    </div>
  </div>
  <div class="nothing-1"></div>
  <div class="body-user-ava">
    <div class="avatar-1">
      <img
        src="../../../assets/anh2/Background-xam-1-800x600.jpg"
        alt="Error"
      />
    </div>
    <div class="username">Nguyễn Anh Tuấn</div>
  </div>
</div>
