
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="background-1">
  <div class="body-logo">
    <img src="assets/anhnav/logodado.png" class="body-logo-1">
  </div>
  <div class="body-title-a front-os">
    <span class="body-title-1"> WEBSITE QUẢN LÝ DOANH NGHIỆP</span>
  </div>
  <div class="body-title-b front-os">
    <span class="body-title-2"> Công ty TNHH MTV khai thác công trình thủy lợi Đa Độ</span>
  </div>
  <div class="avatar">
    <img src="assets/anhnav/anh%20trang.jpg" alt="Lỗi hệ thống" style="border-radius: 30px; cursor: pointer" onclick="haiphong()" >
  </div>
  <div class="your-name" onclick="haiphong1()" style="cursor: pointer">Nguyễn Anh Tuấn</div>
</div>
<div class="w3-sidebar w3-bar-block w3-white w3-xxlarge" style="width:70px; background-color: #F7F6FB">
  <a [routerLink]="['construction']" ><img src="./assets/anhnav/light.png" style="width: 60px; height: 60px; position: absolute; left: 1%; top: 2%" ></a>
  <a href="#" ><img src="./assets/anhnav/icon2.png" style="width: 50px; height: 50px; position: absolute; left: 7%; top: 12%" ></a>
  <a href="#" ><img src="./assets/anhnav/icon4.png" style="width: 50px; height: 50px; position: absolute; left: 9%; top: 22%" ></a>
  <a href="#" ><img src="./assets/anhnav/icon3.png" style="width: 70px; height: 50px; position: absolute; left: 7%; top: 32%" ></a>
  <a href="#" ><img src="./assets/anhnav/icon5.png" style="width: 50px; height: 50px; position: absolute; left: 10%; top: 42%" ></a>
  <a href="#" ><img src="./assets/anhnav/icon6.png" style="width: 50px; height: 50px; position: absolute; left: 10%; top: 52%" ></a>
  <a href="#" ><img src="./assets/anhnav/icon7.png" style="width: 50px; height: 50px; position: absolute; left: 10%; top: 62%" ></a>
</div>
